<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <script> </script>
    <title>Hello World!</title>
</head>
<body>
    <div class="page">
        <h1>Hello World!</h1>
        <ul class="users">
            {% for user in user_list %}
                <li>Hello {{ user.username }}</li>
            {% endfor %}
        </ul>
        <form action="{{ url_for('add_user') }}" method="post" class="add-user">
            <label for="username">Name:</label>
            <input type="text" size="30" id="username" name="username">
            <input type="submit" value="Add">
        </form>
    </div>
</body>
</html>
